#!/bin/sh
cat << EOF
=========================================================
         ⚠️  This system is managed by Ansible  ⚠️
Changes you make may be overwritten. If you want to learn
more or checkout the playbooks themselves, visit:
https://github.com/CTreffOS/ansible-fleet-infrastructure

Inventory Name: {{ inventory_hostname }}
Member of Groups: {{ group_names | join(', ') }}
Last Played: {{ template_run_date }}
=========================================================
EOF
